<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Admin Page | Web Booking UM</title>
  
    
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Animation library for notifications   -->
    <link href="/css/admin/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/admin/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/admin/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/admin/pe-icon-7-stroke.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple">
      <div class="sidebar-wrapper">
            <div class="logo">
                <h3 class="simple-text">
                    Admin Panel
                </h3>
            </div>
            <ul class="nav">
                <li class="active">
                    <form action="/admin/dashboard/" method="get">
                        <button class="btn pe-7s-users"> DATA MAHASISWA</button>
                    </form>
                </li>
                <li>
                    <form action="/admin/dashboard/kursus" method="get">
                        <button class="btn pe-7s-users"> DATA KURSUS</button>
                    </form>
                </li>
                <li>
                    <form action="/admin/logout" method="post">
                        <button class="btn pe-7s-users"> LOGOUT</button>
                    </form>
                </li>
            </ul>
      </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Data Mahasiswa</a>
                </div>
            </div>
        </nav>

    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content table-responsive table-full-width">
                                
                                <!-- <form action="/admin/pdfuser" method="postz">
                                    <button>PRINT</button>
                                </form> -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Kode Voucher</th>
                                            <th scope="col">NPM</th>
                                            <th scope="col">Nama</th>
                                            <th scope="col">Jenis Kelamin</th>
                                            <th scope="col">Tanggal Lahir</th>
                                            <th scope="col">Fakultas</th>
                                            <th scope="col">Jurusan</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Urutan</th>
                                            <th scope="col">Sesi UM</th>
                                            <th scope="col">Ruang UM</th>
                                            <th scope="col">Meja UM</th>
                                            <th scope="col">Waktu Daftar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user) { %>  
                                        <tr>
                                            <td><%= user.id_booking %></td>
                                            <td><%= user.kd_voucher %></td>              
                                            <td><%= user.npm_mhs %></td>
                                            <td><%= user.nama_mhs %></td>
                                            <td><%= user.jenis_kel %></td>
                                            <td><%= user.tgl_lahir %></td>
                                            <td><%= user.fakultas %></td>
                                            <td><%= user.jurusan %></td>
                                            <td><%= user.email %></td>
                                            <td><%= user.urutan %></td> 
                                            <td><%= user.sesi_um %></td>
                                            <td><%= user.ruang_um %></td>
                                            <td><%= user.meja_um %></td>
                                            <td><%= user.waktu %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                

                </div>
            </div>
        </div>

    </div>
</div>


</body>

</html>
